/* 全部內容區塊設定 */
/* 大區塊設定 */
.content{
  width: 100%;
}

.content:nth-child(3), .content:nth-child(4){
  border-top: 1px dashed #999999;
}

/* 內容1*/

.content_1{
  width: 100%;
  margin-bottom: 8%;
}

@media screen and (min-width: 768px){
  .content_1{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-bottom: 6%;
  }
}
@media screen and (min-width: 992px){
  .content_1{
    padding-bottom: 3%;
  }
}

/* 大圖區 */

.product_images{
  width: 90%;
  margin: 0 auto 5%;
}

.product_big_block{
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-top: 100%;
  list-style: none;
  position: relative;
}

.product_big_li{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.product_big_li.-on{
  z-index: 1;
}

.product_big_li img{
  width: 100%;
}

@media screen and (min-width: 376px){
  .product_images{
    width: 100%;
    margin: 0 0 5%;
  }
}

@media screen and (min-width: 576px){
  .product_images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product_big_block{
    width: 80%;
    padding-top: 80%;
    margin: 0;
  }
}

@media screen and (min-width: 768px){
  .product_images{
    width: 50%;
    margin: 0;
  }
}

@media screen and (min-width: 992px){
  .product_images{
    width: 60%;
    margin: 0;
  }
}

/* 小圖 */

.product_select{
  display: block;
  width: 100%;
  margin-top: 3%;
  list-style: none;
  padding: 0;
}

.product_small_li{
  border: 1px solid #999999;
  width: 15%;
  padding-top: 15%;
  display: inline-block;
  position: relative;
  margin-right: 3%;
}

.product_small_li.-on{
  border: 1px solid black;
}

.click_img{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (min-width: 576px){
  .product_select{
    margin: 0;
    width: 15%;
  }
  .product_small_li{
    width: 100%;
    padding-top: 100%;
    margin-bottom: 10%;
  }
  .product_small_li:hover img{
    opacity: 0.8;
  }
}

/* 商品主要資訊區 */
/* 訊息區 */

.product_information{
  width: 90%;
  margin: 0 auto;
}

.context{
  margin: 0 0 6%;
  width: 100%;
}

.product_name{
  margin: 0;
}

.product_price{
  margin: 0;
  letter-spacing:0 !important;
}

.context p:nth-child(3){
  margin: 6px 0 0;
}

.context p:nth-child(4){
  margin: 20px 0 0;
}

@media screen and (min-width: 376px){
  .product_information{
    width: 100%;
  }
}

@media screen and (min-width: 768px){
  .product_information{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}

@media screen and (min-width: 992px){
  .product_information{
    width: 35%;
  }
}

/* 選擇鍵區 */

.buttons{ 
  width: 100%;
}

.buttons select{
  font-size: 14px;
  font-family: 'Noto Sans TC', sans-serif;
  padding: 2px;
  margin: 0 5% 0 0;
  outline: none;
  color: #555555;
  border: 1px solid #999999;
  width: 30%;
  border-radius: 4px;
  cursor: pointer;
}

.add_to_cart{
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.add_button{
  -webkit-appearance: none;
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  outline: none;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: #333333;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
}

.total_price{
  display: block;
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 500;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}


@media screen and (min-width: 376px){
  .add_to_cart{
    width: 100%;
    position: static;
  }
  .add_button{
    border-radius: 4px;
  }
  .total_price{
    position: static;
    color: #333333;
    transform: translate(0, 0);
    margin: 2% 0;
  }
}
@media screen and (min-width: 576px){
  .add_button:hover{
    background-color: #555555;
  }
}


/* 商品資訊 */
/* 標題 */

.content_2{
  width: 100%;
  /* margin-bottom: 8%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content_h2{
  width: 100%;
  margin: 3% 0;
  text-align: center;
}

.title{
  margin: 0;
}

@media screen and (min-width: 376px){
  .content_h2{
    text-align: left;
  }
}

@media screen and (min-width: 992px){
  .content_2 .title,
  .content_2 .english{
    text-align: center;
  }
}

/* 商品資訊頁籤 */
.tab_block{
  width: 90%;
  margin: 0 auto 6%;
}

.tab_list{
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
}

.tab{
  font-size: 14px;
  display: inline-block;
  letter-spacing: 2px;
  border: 1px solid #999999;
  margin: 0 8px 3% 0;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 4px;
}

.tab.-on{
  background-color: #333333;
  color: white;
  border: 1px solid #333333;
}

.tab_content_block{
  width: 100%;
  margin: 0;
}

.tab_content{
  width: 100%;
  border: 1px solid #999999;
  display: none;
  border-radius: 4px;
}

.tab_content.-on{
  display: block;
}

.tab_content_ul{
  padding: 6px 12px 6px 26px;
  list-style: square;
}

.tab_content_li{
  font-size: 14px;
  color: #555555;
  letter-spacing: 2px;
  margin: 3px 0;
}

@media screen and (min-width: 376px){
  .tab_list{
    text-align: left;
  }
  .tab_block{
    width: 100%;
  }
}

@media screen and (min-width: 576px){
  .tab:hover{
    background-color: #333333;
    color: white;
    border: 1px solid #333333;
  }
}

@media screen and (min-width: 992px){
  .tab_block{
    width: 80%;
  }
  .tab_list{
    text-align: center;
  }
}

/* 商品資訊搭配圖片 */

.content_2_images{
  width: 100%;
  border: 1px solid gray;
  display: none;
}

@media screen and (min-width: 992px){
  .content_2_images{
    width: 45%;
    display: none;
  }
}

/* 您可能喜歡的商品 */

.content_3{
  width: 100%;
  margin-bottom: 3%;
}

.product{
  display: block;
  width: 100%;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 0 3px 0 #ccc;
}

.a_few_left .few{
  display: block;
}

.other_products_image{
  width: 100%;
  position: relative;
  padding-top: 100%;
}

.other_products_image img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.few{
  font-size: 10px;
  color: black;
  margin: 0;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .7);
  padding: 0px 6px;
  margin: 6px;
  border-radius: 4px;
}

.other_products_information{
  width: 90%;
  margin: 6px auto;
}

.other_products_name{
  font-size: 14px;
  margin: 0;
  color: #963200;
  font-weight: 400;
}

.other_products_price{
  font-size: 12px;
  margin: 0 0 3px;
  color: #333333;
  font-weight: 400;
  line-height: 14px;
}

/* 輪播位移位移校正 */
.owl-stage {
  left: -10%;
}

@media screen and (min-width: 376px){
  .owl-stage {
    left: -80px;
  }
}

@media screen and (min-width: 576px){
  .owl-stage {
    left: -30px;
  }
  .product:hover{
    transform: scale(1.01);
  }
  .product:hover img{
    opacity: 0.8;
  }
}

@media screen and (min-width: 768px){
  .owl-stage {
    left: -0px;
  }
}





